* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    background: #E5E5E5;
}

.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh
}

input {
    padding-left: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    height: 48px;
    width: 240px;
    background: #FFFFFF;
    border: 1px solid #ECEBED;
    box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    color: #1A051D;
}

.password {
    margin-top: 24px;
    position: relative;
}

.password-eye {
    position: absolute;
    right: 11px;
    top: 13px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-button {
    margin-top: 24px;
    background: #6979F8;
    border-radius: 6px;
    width: 240px;
    height: 48px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    color: white;
}